/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #4e555b;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: red;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logoanime {
    width: 75px;
}